<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitBranch</key>
	<string>feature/oauth2-token-post-client
</string>
	<key>GitHash</key>
	<string>426c7dbe
</string>
	<key>SDKGitBranch</key>
	<string>HEAD
</string>
	<key>SDKGitHash</key>
	<string>a50cf0e9
</string>
	<key>authentication-oauth2.oa2-client-id</key>
	<string>3814d6b6-f37b-5ec2-8bd4-83174b1a4f8e</string>
	<key>authentication-oauth2.oa2-client-secret</key>
	<string>nzpni6lYli</string>
	<key>authentication-oauth2.oidc-redirect-uri</key>
	<string>oc://ios.owncloud.com/</string>
	<key>authentication-oauth2.oidc-scope</key>
	<string/>
	<key>authentication-oauth2.post-client-id-and-secret</key>
	<true/>
	<key>authentication.skip-www-authenticate-checks</key>
	<true/>
	<key>branding.can-add-account</key>
	<true/>
	<key>branding.can-edit-account</key>
	<false/>
	<key>branding.organization-name</key>
	<string>Kiteworks</string>
	<key>branding.profile-allow-url-configuration</key>
	<false/>
	<key>branding.profile-bookmark-name</key>
	<string>Kiteworks</string>
	<key>branding.profile-url</key>
	<string>https://mobile.kiteworks.com/</string>
	<key>branding.send-feedback-address</key>
	<string/>
	<key>branding.send-feedback-url</key>
	<string/>
	<key>branding.theme-colors</key>
	<dict>
		<key>setup-status-bar-style</key>
		<string>black</string>
	</dict>
	<key>branding.theme-definitions$[0].cssRecords</key>
	<array>
		<string>all.modal.welcome.message.infoBox.background.fill: #ffffff</string>
		<string>all.modal.bookmarkEditor.grouped.table.welcome.message.background.fill: #ffffff</string>
	</array>
	<key>branding.theme-definitions$[0].darkBrandColor</key>
	<string>#f4b223</string>
	<key>branding.theme-definitions$[0].lightBrandColor</key>
	<string>#425cc7</string>
	<key>branding.url-help</key>
	<string>https://www.kiteworks.com/support</string>
	<key>branding.url-privacy</key>
	<string>https://www.accellion.com/privacy-policy/</string>
	<key>branding.url-terms-of-use</key>
	<string/>
	<key>connection.drives</key>
	<string>kwdav/graph/v1.0/drives</string>
	<key>connection.endpoint-capabilities</key>
	<string>kwdav/ocs/v2.php/cloud/capabilities</string>
	<key>connection.endpoint-recipients</key>
	<string>kwdav/ocs/v2.php/apps/files_sharing/api/v1/sharees</string>
	<key>connection.endpoint-remote-shares</key>
	<string>kwdav/ocs/v2.php/apps/files_sharing/api/v1/remote_shares</string>
	<key>connection.endpoint-shares</key>
	<string>kwdav/ocs/v2.php/apps/files_sharing/api/v1/shares

</string>
	<key>connection.endpoint-status</key>
	<string>kwdav/status.php</string>
	<key>connection.endpoint-user</key>
	<string>kwdav/ocs/v2.php/cloud/user</string>
	<key>connection.endpoint-webdav</key>
	<string>kwdav/remote.php/dav/files</string>
	<key>connection.endpoint-webdav-meta</key>
	<string>kwdav/remote.php/dav/meta</string>
	<key>connection.meDrives</key>
	<string>kwdav/graph/v1.0/me/drives</string>
	<key>connection.well-known</key>
	<string>.well-known</string>
</dict>
</plist>
